* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background: var(--bg);
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  --shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  --primary: #df744a;
  --accent: #fedcd2;
  --secondary: #b3d6ce;
  --bg: #eeeeee;
  --dark: #393939;
}
